################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/BankAccount/bin
/BankAccount/obj
/BankAccountTest/bin
/BankAccountTest/obj
